<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/flatly/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/assets/css/custom.min.css">
        <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}">
    </head>
    <body class="{{ app.request.get('_route') }}">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
