{% extends "::base.html.twig" %}

{% block title %}Créer un nouvel article{% endblock %}

{% block body %}
	<div class="container">
		<div class="well">
		<h1>Ajouter un article</h1>
		{{ form_start(form) }}
			<div>
			    {{ form_label(form.name, "Nom") }}
			    {{ form_errors(form.name) }}
			    {{ form_widget(form.name, {attr: {class:'form-control'}}) }}
			</div>
			<div>
			    {{ form_label(form.text, "Texte") }}
			    {{ form_errors(form.text) }}
			    {{ form_widget(form.text, {attr: {class:'form-control'}}) }}
			</div>
		</div>
		{{ form_end(form) }}
	</div>
{% endblock %}
