{% extends "::base.html.twig" %}

{% block title %}AppBundle:Posts:index{% endblock %}

{% block body %}
		
	{% for post in posts %}
	    <div class="well">
	    	<h2>{{ post.name }}</h2>
	    	<a href="{{ path("posts_view", {id: post.id}) }}" title="">
	    		Lire plus
	    	</a>
	    </div>
	{% endfor %}

{% endblock %}
