{% extends "::base.html.twig" %}

{% block title %}AppBundle:Posts:view{% endblock %}

{% block body %}
	<div class="container">
		<div class="well">
			<h1>{{ post.name }}</h1>
			<p>{{ post.text }}</p>
		</div>
	</div>
{% endblock %}
